<p id="notice"><%= notice %></p>
<h1>Temple Word Of Mouths</h1>
  <% @temple_word_of_mouths.each do |temple_word_of_mouth| %>
    <tr>
      <td><%= temple_word_of_mouth.name %></td>
      <td><%= temple_word_of_mouth.article %></td>
      <td><%= temple_word_of_mouth.photo %></td>
      <td><%= temple_word_of_mouth.user_id %></td>
      <td><%= temple_word_of_mouth.temple_id %></td>
      <td><%= link_to 'Show', temple_word_of_mouth %></td>
      <td><%= link_to 'Edit', edit_temple_word_of_mouth_path(temple_word_of_mouth) %></td>
      <td><%= link_to 'Destroy', temple_word_of_mouth, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
<br>
<%= render @temple_word_of_mouths %>
<%= link_to 'New Temple Word Of Mouth', new_temple_word_of_mouth_path %>
