<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @temple_word_of_mouth.name %>
</p>

<p>
  <strong>Article:</strong>
  <%= @temple_word_of_mouth.article %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @temple_word_of_mouth.photo %>
</p>

<p>
  <strong>User:</strong>
  <%= @temple_word_of_mouth.user_id %>
</p>

<p>
  <strong>Temple:</strong>
  <%= @temple_word_of_mouth.temple_id %>
</p>

<%= link_to 'Edit', edit_temple_word_of_mouth_path(@temple_word_of_mouth) %> |
<%= link_to 'Back', temple_word_of_mouths_path %>
