<%= form_with(model: temples_word_of_mouth, local: true) do |form| %>
  <% if temples_word_of_mouth.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(temples_word_of_mouth.errors.count, "error") %> prohibited this temples_word_of_mouth from being saved:</h2>

      <ul>
      <% temples_word_of_mouth.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :article %>
    <%= form.text_field :article %>
  </div>

  <div class="field">
    <%= form.label :photo %>
    <%= form.text_field :photo %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :temple_id %>
    <%= form.text_field :temple_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
