<%= form_with(model: shrine, local: true) do |form| %>
  <% if shrine.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(shrine.errors.count, "error") %> prohibited this shrine from being saved:</h2>

      <ul>
      <% shrine.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field form-group">
    <%= form.label :adress %>
    <%= form.text_field :adress %>
  </div>

  <div class="field form-group">
    <%= form.label :nearest_station %>
    <%= form.text_field :nearest_station %>
  </div>

  <div class="field form-group">
    <%= form.label :url %>
    <%= form.text_field :url %>
  </div>

  <div class="field form-group">
    <%= form.label :photo %>
    <%= form.text_field :photo %>
  </div>

  <div class="field form-group">
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>

  <div class="field form-group">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
