<%= form_with(model: shrine, local: true) do |form| %>
  <% if shrine.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(shrine.errors.count, "error") %> prohibited this shrine from being saved:</h2>

      <ul>
      <% shrine.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="container">
    <div class="row header">
      <h1>神社情報の共有</h1>
      <h5>紹介したい神社の情報を以下項目に記載して紹介しましょう</h5>
    </div>
    <div class="field form-group">
      <%= form.label :name,"氏名" %>
      <%= form.text_field :name, class:"form-control" %>
    </div>
  
    <div class="field form-group">
      <%= form.label :adress,"所在地" %>
      <%= form.text_field :adress, class:"form-control" %>
    </div>
  
    <div class="field form-group">
      <%= form.label :nearest_station,"最寄り駅" %>
      <%= form.text_field :nearest_station, class:"form-control" %>
    </div>
  
    <div class="field form-group">
      <%= form.label :url ,"URL"%>
      <%= form.text_field :url, class:"form-control" %>
    </div>
  
    <div class="actions">
      <%= form.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
