<div class="shrine_index">
<h1>神社</h1>
<div class="shrine_item">
  <ul class="slider">
    <% @shrines.each do|shrine| %>
    <li>
      <%= image_tag "/uploads/shrine/image/#{shrine[:id]}/#{shrine[:image]}" %>
    </li>
    <% end %>
  </ul>
  <div class="shrine_infomation">
    <p></p>
    <p></p>    
    <p></p>
    <p></p>
    <p></p>
    <p></p>    
  </div>
</div>

<div class="shrine_slider_ttl">  
  <h1 class="slider_ttl">神社一覧</h1>
  <ul class="horizontal_scroll">
    <% @shrines.each do|shrine| %>
    <li>
      <%= link_to "shrines/#{shrine[:id]}", class:"shrine_photo" do %>
        <%= image_tag "/uploads/shrine/image/#{shrine[:id]}/#{shrine[:image]}" %>
        <span><%= shrine[:name] %></span>
        <% end %>
    </li>
      <% end %>
  </ul>
</div>

<%= link_to '新規登録', new_shrine_path %>
</div>