<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user_id.name %>
</p>

<p>
  <strong>Old:</strong>
  <%= @user_id.old %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user_id.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user_id.password %>
</p>

<%= link_to 'Edit', edit_user_id_path(@user_id) %> |
<%= link_to 'Back', user_ids_path %>
