<p id="notice"><%= notice %></p>

<h1>Shrine Word Of Mouths</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Article</th>
      <th>Photo</th>
      <th>User</th>
      <th>Shrine</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shrine_word_of_mouths.each do |shrine_word_of_mouth| %>
      <tr>
        <td><%= shrine_word_of_mouth.name %></td>
        <td><%= shrine_word_of_mouth.article %></td>
        <td><%= shrine_word_of_mouth.photo %></td>
        <td><%= shrine_word_of_mouth.user_id %></td>
        <td><%= shrine_word_of_mouth.shrine_id %></td>
        <td><%= link_to 'Show', shrine_word_of_mouth %></td>
        <td><%= link_to 'Edit', edit_shrine_word_of_mouth_path(shrine_word_of_mouth) %></td>
        <td><%= link_to 'Destroy', shrine_word_of_mouth, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shrine Word Of Mouth', new_shrine_word_of_mouth_path %>
