<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @shrine_word_of_mouth.name %>
</p>

<p>
  <strong>Article:</strong>
  <%= @shrine_word_of_mouth.article %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @shrine_word_of_mouth.photo %>
</p>

<p>
  <strong>User:</strong>
  <%= @shrine_word_of_mouth.user_id %>
</p>

<p>
  <strong>Shrine:</strong>
  <%= @shrine_word_of_mouth.shrine_id %>
</p>

<%= link_to 'Edit', edit_shrine_word_of_mouth_path(@shrine_word_of_mouth) %> |
<%= link_to 'Back', shrine_word_of_mouths_path %>
